.container {
    width: 60%;
    margin: 0 auto;
}
h2 {
    font-size: 3em;
    padding-bottom: .5em;
}
.container input{
    display: none;
}
.container .bayan-body {
    height: 0;
    background-color: #dedede;
    font-size: 1.2em;
    line-height: 110%;
    padding: 0 1em;
    transition: all .5s;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 0 0 .75em .75em;
}
.container label {
    cursor: pointer;
    background-color: #505050;
    display: block;
    display: flex;
    justify-content: space-between;
    padding: 1em 1.25em;
    width: 100%;
    color: #fff;
    font-weight: 300;
    box-sizing: border-box;
    z-index: 5; 
    border-radius: .75em .75em 0 0;
    font-size: 1.5em;
    transition: all .5s;
}
.container label:hover {
    color: #ccc;
    background-color: #6a6868;
}
.container label:after {
    content: '\276F';
    transition: all .5s;
}
.container input:checked + label:after {
    transition: all .5s;
    transform: rotate(90deg);
}
.container input:checked + label + .bayan-body {
    height: auto;
    padding: 1em;
}